/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  margin-top: 2rem;
  margin-bottom: 2rem; }

#header-text {
  color: #e0e0e0;
  font-weight: 100;
  text-align: center;
  font-size: 1.75em; }

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.card {
  --card-height: 120px;
  width: 80%;
  height: var(--card-height);
  margin: 20px 10%;
  padding-left: 40px;
  background: #e3e3e3;
  text-align: left;
  position: relative;
  overflow: hidden;
  display: flex;
  align-content: flex-start; }

.title {
  font-size: 32px;
  line-height: var(--card-height);
  order: 1;
  margin-right: 50px; }

.card:hover {
  background: #d6d6d6; }

.desc-container {
  height: var(--card-height);
  flex: 1;
  order: 2;
  display: flex;
  align-items: flex-start;
  position: relative;
  top: -120px;
  transition: top .75s ease-out .5s; }

.desc-text {
  font-size: 16px;
  order: 1;
  flex: 80;
  line-height: 20px; }

.desc {
  margin-bottom: 10px; }

.desc-link {
  order: 2;
  flex: 20;
  margin-left: auto;
  position: relative;
  margin-right: 40px; }

.desc-link > a > img {
  position: absolute;
  right: 0; }

.card:hover > .desc-container {
  top: 20%;
  transition: top .5s ease-out; }

.footnote {
  font-size: 12px; }

.footnote-container, .technologies {
  display: flex; }

.technologies > b {
  display: block;
  margin-right: 5px; }

.desc-text > p > em {
  font-style: italic; }

.status {
  margin-right: 50px;
  white-space: nowrap; }

body {
  font-family: "Roboto", sans-serif; }

b {
  font-weight: 800; }

a {
  text-decoration: none; }

a:visited {
  color: grey; }

@media (min-width: 361px) {
  #header-text {
    font-size: 2.25em; } }

@media (min-width: 501px) {
  #header-text {
    font-size: 2.5em; } }

@media (min-width: 601px) {
  #header-text {
    font-size: 3em; } }

@media (min-width: 801px) {
  #header-text {
    font-size: 3.5em; } }

@media (min-width: 1301px) {
  #header-text {
    font-size: 3.75em; } }

@media (min-width: 1501px) {
  #header-text {
    font-size: 4.5em; } }

